@codeBgColor:#f2f2f2;
@codeFgColor:#4D4D4D;
@codeInlineColor:#e62e00;
@yellow:yellow;

code{
  padding:0 2px;
  color: @codeInlineColor;
  background-color:@codeBgColor;
  font-style: italic;
}
pre code {
  border-radius: 5px;
  border: 1px solid @codeFgColor;
  display: block;
  color: @codeFgColor;
  padding: 10px;
}

.listingblock .title{
  color:@codeInlineColor;
  font-style: italic;
}

.listingblock .content pre.highlight{
  margin:0;
}

.yellow-background{
  background-color:@yellow;
}

.big{
  font-size:1.3em;
}