@sky: #357E97;
@sunset: #FB6542;
@sunflower: #FFBB00;
@sunflower-hover: #FFCA39;
@sunflower-selected: #C69100;
@grass: #3F681C;
@color-text: #FFF;
@font:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* RESET */
* {
  box-sizing: border-box;
  font-family: @font;
}
html{
  font-size:18px;
}

/* main GUI */

#wrapper > header {
  background-color: @sky;
  color: @color-text;
  padding:1em;
}
#wrapper > section{
  display:flex;
}
#wrapper > section > nav {
  border-right: 1px solid #eee;
  background-color: @sunflower;
  padding-top:1em;
  width:20%;
}
#wrapper > section > nav ul{
  list-style: none;
  padding:0;
}
#wrapper > section > nav ul li ul{
  background-color: @sunflower
}
#wrapper > section > nav ul:hover{
  background-color: @sunflower
}
#wrapper > section > nav li{
  list-style: none;
}
#wrapper > section > nav li{
}

#wrapper > section > nav p{
  margin:0;
}
#wrapper > section > nav p,
#wrapper > section > nav a{
  color: @color-text;
  text-decoration: none;
  text-transform: capitalize;
  padding:0.5em;
  display:block;

}
#wrapper > section > nav li.selected{
  background-color: @sunflower-selected;
}
#wrapper > section > nav li:hover{
  background-color: @sunflower-hover;
}

#wrapper > section > article {
  padding:2em  5em;
  width:80%;
}

#wrapper > footer {
  background-color: @grass;
  color: @color-text;
}


/* ASCIIDOC */
@import 'asciidoc.less';
