/* asciidoc */
#main{

}
.line-through{
    text-decoration: line-through;
}
ul.checklist{list-style: none   }

#toc{
    float:right;
    top:0;
    right:0;
    width:200px;
    margin:-3em 0 1em 1em;
    z-index: 1000;
    background: #eee;
    border:1px #111 solid;
    border-radius: 5px;
}
#toc .title{
  color:#666;
  text-align: center;
}
#toc ul{
  margin-left: 5px;
  padding-left: 5px;
  list-style: none;
}


.red{
    color:red;
}

.dlist dt {
  font-style: italic;
}

.dlist dd{
  padding-left: 20px;
}

#menu{
    border:1px silver solid;
}
#menu ul {
    padding-left:0;
}


#menu li{
    list-style: none;
}

#menu p{
    border-top:1px silver solid;
    border-bottom:1px silver solid;
    padding:5px;
    margin:0;
    text-transform: capitalize;
}
#menu ul ul p{
    padding-left:15px
}
#menu p:hover{
    background-color: #AAA;
}